.name {
  padding-left: 1rem;
  margin: 0;
  color: #000c;
  font-size: 16px;
  font-weight: 700;
}

/* Now we define individual line types */
.p {
  font-size: 15px;
}

.description {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
}

.example {
  font-size: 14px;
}

.details {
  font-size: 14px;
}
