/* Container for whole protocol */
.protocol {
  width: 100%;
  padding: 10px 14px;
  background-color: #e5eafd;
}

.name {
  margin: 0;
  color: #000c;
  font-size: 16px;
  font-weight: 700;
}

.prepContainer {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.04);
}

.expanded {
  padding: 0 15px;
}

/* Now we define individual line types */
.title {
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 700;
}

.subtitle {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 700;
}

.p {
  font-size: 15px;
}

.description {
  max-width: 450px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
}

.example {
  font-size: 14px;
}

.details {
  font-size: 14px;
}
