/* Container for whole protocol */
.protocol {
  background-color: #e5eafd;
  padding: 10px 14px;
  width: 100%;
}

.name {
  color: #000c;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.expanded {
  padding: 0 15px;
}

/* Now we define individual line types */
.title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 0;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  margin-top: 3px;
}

.p {
  font-size: 15px;
}

.description {
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
  max-width: 450px;
}

.example {
  font-size: 14px;
}

.details {
  font-size: 14px;
}
